@import "../../css/varable";
.not-found-container {
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    color: $orange_dark;
    @include fontSize(52);
    text-align: center;
    padding: 0;
    margin: 0;
  }

  h2 {
    @include fontSize(52);
    text-align: center;
    margin: 0;
    padding: 0;
  }
}