@import "../../css/varable";
.header-menus {
  @include toRem(padding-left, 60);
  flex: 1;
  ul {
    display: flex;
    align-items: center;

    li {
      list-style: none;
      @include fontSize(16);
      font-weight: $medium;
      @include toRem(padding-right, 30);
      cursor: pointer;
      @include transition(.3);

      &:last-child {
        padding-right: 0;
      }

      a {
        color: $primary;
        text-decoration: none;

        &:hover {
          color: $orange_dark;
        }
      }

      &:hover {
        color: $orange_dark;
      }
    }
  }
}