@import "../../css/varable";
.app-header {
  display: flex;
  align-items: center;
  width: 100%;
  // justify-content: space-between;
  @include toRem(padding-top, 15);
  @include toRem(padding-bottom, 15);

  .logo-container {
    .logo-img {
      img {
        @include toRem(margin-right, 12);
        width: 90px;
        height: auto;
      }
    }
  }
  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $primary;
    .logo {
      @include fontSize(36);
      font-weight: $bold;
      line-height: 100%;
  
      span {
        color: $orange_dark;
        font-weight: $light;
        display: block;
        @include fontSize(32);
        @include toRem(letter-spacing, 3.8);
      }
    }
  }

  .header-icons {
    @include toRem(padding-left, 30);
    ul {
      display: flex;
      align-items: center;

      li {
        list-style: none;
        @include toRem(margin-left, 26);

        &.cart-icon {
          position: relative;
          @include toRem(padding-top, 4);

          span {
            position: absolute;
            top: 0;
            right: 0;
            background: $red;
            color: $white;
            @include toRem(width, 20);
            @include toRem(height, 20);
            border-radius: 50%;
            position: absolute;
            top: 3px;
            right: -8px;
            display: flex;
            @include fontSize(11);
            align-items: center;
            justify-content: center;
            font-weight: $light;
          }
          img {
            width: 32px;
            height: auto;
            @include toRem(padding-top, 7);
          }
        }

        &.signup-btn {
          background: $orange_dark;
          padding: 8px 30px;
          border-radius: 20px;
          color: $white;
          font-weight: $light;
          @include fontSize(16);
          @include transition(.3);
          cursor: pointer;

          &:hover {
            background: $primary;
          }
        }

        &.search-container {
          position: relative;

          input {
            width: 100%;
            border: 1px solid $grey;
            @include toRem(padding-top, 8);
            @include toRem(padding-right, 38);
            @include toRem(padding-bottom, 8);
            @include toRem(padding-left, 12);
            // background: url('../../assets/img/search-icon.svg') 91% 10px no-repeat $white;
            @include toRem(border-radius, 22);
            @include toRem(min-height, 39);
            @include fontSize(16px);
            color: $primary;
            font-weight: $bold;

            &:focus {
              outline: 0;

              & + .search-btn {
                cursor: pointer;
              }
            }
          }

          .search-btn {
            border: 0;
            background: none;
            position: absolute;
            right: 0;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background: none;
            @include toRem(border-radius, 22);
            width: 50px;
            height: 38px;
            cursor: pointer;
            @include transition(.4);

            svg,
            path {
              @include transition(.1);
            }

            &.active {
              background: $orange_dark;
              svg,
              path {
                fill: $white;
              }
            }
          }
        }
      }
    }
  }
}