$primary: #202142;
$secondry: #9a93eb;
$purple_light: #9a93eb;
$offWhite: rgba(255, 255, 255, .85);
$off_white_alt: rgba(255, 255, 255, .7);
$red_dark: #d31b27;
$red: #ff0000;
$orange_dark: #ec5f32;
$orange_dark2: #e34a19;
$white: #fff;
$grey: #c9c9c9b3;
$page_bg: linear-gradient(-90deg, #efd5ff 0%, #515ada 100%);
$black_alpha_60: rgba(0, 0, 0,.6);
$light_gray: #d4d5d9;
