*{
    box-sizing: border-box;
}

body {
    // background: $page_bg;
    background: #ebe7e6;
    margin: 0;
    padding: 0;
    font-family: Poppins;
    color: $primary;
    height: calc(100vh - 50px);
}

#root {
    // display: flex;
    height: 100%;
    // @include toRem(padding, 25);
}

.app-container {
    width: 100%;
    max-width: 1200px;
    // height: 100%;
    // display: flex;
    margin: 0 auto;
    // height: 100vh;
}

.page-container {
    min-height: 500px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}