/*** Font Weight **/

$thin: 100;
$extra_light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extraBold: 800;
$black: 900;

/*** Border Radius **/

$radius_8: 8px;

/*** Box Shadow **/

$panel_shadow: 0px 0px 12px 1px rgb(50 50 50 / 23%);
$panel_shadow2: 0px 0px 12px 1px rgb(50 50 50 / 53%);

/*** Include Color and Mixins **/

@import "color";
@import "mixins";