@import "../../css/varable";

.footer-wrapper {
  display: flex;
  background: $primary;
  @include toRem(padding-top, 20);
  @include toRem(padding-bottom, 20);
  color: $white;
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-logo {
    width: 55px;
    display: flex;
    align-items: center;
    @include fontSize(14);
    font-weight: $light;
    line-height: 130%;

    img {
      max-width: 100%;
      height: auto;
      @include toRem(padding-right, 10);
    }
  }

  .social-icons {
    ul {
      display: flex;
      align-items: center;

      li {
        list-style: none;
        @include toRem(padding-left, 10);
      }
    }
  }
}
